# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: HelloWorl con JavaFX

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    
    - name: Descargar JavaFX
      run  wget https://download2.gluonhq.com/openjfx/21.0.10/openjfx-21.0.10_linux-x64_bin-sdk.zip

    - name: Descomprimir archivo
      run  unzip openjfx-21.0.10_linux-x64_bin-sdk.zip -d javafx-sdk

    - name: Crear jar
      run jar --create --file=build/HelloWorldFx.jar --manifest=manifest/MANIFEST.MF -C build/ .

    - name: Ejecutar jar
      run java --module-path javafx-sdk-21.0.10/lib --add-modules javafx.controls -jar build/HelloWorldFx.jar

    - name: Crear ejecutable
      run jpackage --input build --name HelloWorldFx --main-jar HelloWorldFx.jar --main.class dam.optativa.HelloWorldFx --type deb ----module-path javafx-sdk-21.0.10/lib --add-modules javafx.controls
   
